fieldset {
    display: inline-block;
    width: 10em;
    margin: 0 1em 0 0;
    border: 1px solid #ccc;
  }
  
  fieldset > input,
  fieldset > label {
    display: block;
    width: 8em;
    text-align: center;
    margin: 0 auto;
  }