<body style="margin-top: 20px">
    <form action="" method="post">
        <fieldset>
            <input #box name="Bytes" id="bytes" [(ngModel)] = 'byteSize'/>
            <label for="bytes">Size in Bytes</label>
        </fieldset>
        <fieldset>
            <input #box name="Functions" id="functions" [(ngModel)] = 'hashFunctions'/>
            <label for="functions">Hash Functions</label>
        </fieldset>
    </form>
    <button class="w3-button w3-red w3-round-small" style=" margin-right: 10px;" (click)="newFilter()">New</button>
    <hr>
    <p> Bloom Filter: {{bloomFilterArray? bloomFilterArray: 'N/A'}}</p>
    <p> Hash Functions: {{hashFunctions}}</p>
    <p> Byte Size: {{byteSize}}</p>
    <p> Byte Size: {{bloomFilterArray? (flasePositiveRate? '0%': flasePositiveRate): 'N/A'}}</p>
    <hr>
    <form action="" method="post">
        <fieldset>
            <input #box name="Add Text" id="add" [(ngModel)] = 'addText' [disabled]="!filterActive"/>
            <label for="add">Add Text</label>
        </fieldset>
    </form>
    <button class="w3-button w3-orange w3-round-small" style=" margin-right: 10px;" (click)="addTextToFilter()" [disabled]="!filterActive" >Add</button>
    <hr>
    <div *ngFor="let word of wordsAdded">
        <p>{{word}}</p>
    </div>
</body>