<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Streaming Algorithm demonstrations.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <title>Streaming Algorithms using Twitter data</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.teal-red.min.css">
</head>

<body>
  <div class="mdl-base">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
        <div style="text-align: center">
          <h3>Streaming Algorithms demonstrated through Live Twitter data</h3>
        </div>
        <p style="text-align: center"> Tarun Sunkaraneni, Mark Van der Merwe, JJ Garzela</p>
        <div class="w3-container">
          <button class="w3-button w3-teal w3-round-small" style=" margin-right: 10px;" (click)="onHomeToggle()">Home</button>
          <button class="w3-button w3-teal w3-round-small" style=" margin-right: 10px;" (click)="onBloomFilterToggle()">Bloom Filter</button>
          <button class="w3-button w3-teal w3-round-small" style=" margin-right: 10px;" (click)="onAboutToggle()">About Collaborators</button>
        </div>
      </header>
    </div>
  </div>
  <div *ngIf="bloomFilter"><app-bloom-filter></app-bloom-filter></div>
</body>