<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <h1 class="h4 card-header">Bloom Filter</h1>
                <div class="card-body">
                    <p class="lead">Learn something something about bloom filters</p>
                    <p class="card-text">Bloom Filters use very low amounts of data to store whether an element has already been seen or not.</p>
                    <a class="btn btn-primary" [routerLink]="['bloom-filter']">Check it out</a>
                </div>
            </div>
        </div>
    </div>
</div>